<%= javascript_tag do %>
	var methodGraph = JSON.parse(<%= raw @essence_method.to_json %>);
	var methodName = "<%= raw @essence_method.name %>";
	var origin = {x: <%= @essence_method.x %>, y: <%= @essence_method.y %>};
<% end %>

<body class="unselectable graph_app">



<section id="branding_section"
		 data-js="branding_section">
		<%= image_tag("logo.png", class: "logo_img") %>
</section>

<section id="graph_file_section"
         data-js="graph_file_section">

	<%= render 'file_tools' %>
</section>

<section id="graph_canvas_section"
	     data-js="graph_canvas_section">
	<canvas id="graph_canvas" 
		    data-js="graph_canvas">
		<p>
			This web app is a visual tool for making SEMAT Essence graphs, 
			and relies on canvas functionality.
		</p>
	</canvas>
</section>

<section id="graph_tools_section"
	     data-js="graph_tools_section">
	<h4>Draw Tools</h4>

	<%= render 'draw_tools' %>
		
</section>



<div class="no_display">
	<%= render 'node_images' %>
</div>








</body>
