<%= javascript_tag do %>
	var methodGraph = JSON.parse(<%= raw @essence_method.to_json %>);
<% end %>


<p id="notice"><%= notice %></p>

<h1><%= @essence_method.name %></h1>

<section id="graph_canvas_section">
	<canvas id="graph_canvas" data-js="graph_canvas">
		<p>
			This web app is a visual tool for making SEMAT Essence graphs, 
			and relies on canvas functionality.
		</p>
	</canvas>
</section>

<section id="graph_tools_section">
	<h4>Draw Tools</h4>

	<%= render 'node_tools' %>
		
</section>



<div class="no_display">
	<%= render 'node_images' %>
</div>



